pandas
faiss-cpu
pymupdf
sentence-transformers
datasets
tqdm
nltk
ragas
langchain-ollama
langchain-community
requests
torch
docx2txt
rank-bm25
llama-index
llama-index-core
openpyxl
sentencepiece
immutabledict
kagglehub
python-dotenv
pillow
